<!--Example: https://getbootstrap.com/docs/3.4/examples/dashboard/-->

<!doctype html>
<html lang="ru"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="" rel="icon">
    <link href="https://getbootstrap.com/docs/3.4/examples/dashboard/" rel="canonical">

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dashboard.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>

    <script>
        $.ajaxSetup({
            beforeSend : function(xhr, settings) {
                if (settings.type == 'POST'
                    || settings.type == 'PUT'
                    || settings.type == 'DELETE') {

                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        Cookies.get('XSRF-TOKEN'));
                    console.log("add cookie")

                    // if (!(/^http:.*/.test(settings.url) || /^https:.*/
                    //     .test(settings.url))) {
                    //     // Only send the token to relative URLs i.e. locally.
                    //     xhr.setRequestHeader("X-XSRF-TOKEN",
                    //         Cookies.get('XSRF-TOKEN'));
                    //     console.log("add cookie")
                    // }
                }
            }
        });
    </script>

    <script>
        var logout = function() {
            $.post("/logout", function() {
                location="http://localhost:8080"
            });
            return true;
        }
    </script>
</head>


<body>

<div th:replace="topnavbar :: mainnavbar"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div th:replace="sidebar :: mainsidebar"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div layout:fragment="content">
                main content goes here
            </div>

        </div>
    </div>
</div>


</body>
</html>
